<h1>create</h1>
<form method="post" action="/courses/store">
  <p>name</p>
  <input name="name" />
  <p>description</p>
  <input name="description" />
  <p>slug</p>
  <input name="slug" />
  <button>create</button>
</form>